body {
	background-color: $main-color;
	color: #ffffff;
	h3 {
		font-weight: normal;
	}
	//aligner helper class
	.aligner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.search-wrap {
		margin: 20px 0;
	}
	//buttons 
	.reset-btn {
		margin: 0;
		background-color: transparent;
		// padding: 5px;
		border: none;
		color: #ffffff;
		cursor: pointer;
		font-size: 23px;
	}
}