body {
	background-color: $main-color;
	color: #ffffff;
	h3 {
		font-weight: normal;
	}
	//aligner helper class
	.aligner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.search-wrap {
		padding: 0 30%;
		margin: 20px 0;
	}
}