@import '../../css/colors';

.countries {
	button {
		margin: 50px 0;
	}
}

.single-country {
	margin: 20px 0;
	.wrap-country {
		border: 1px solid $secondary-color;
		background-color: $light-color;
		color: $main-color;
		padding: 20px 40px;
		.wrap-country--name {
			color: $secondary-color;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 0;
		}
		.wrap-country--capital {
			text-align: center;
			font-style: italic;
			letter-spacing: 2px;
		}
	}
}